Node-RedFlows/flows.json
[{"id":"f63ce2276c48a98d","type":"tab","label":"Run NN","disabled":false,"info":"","env":[]},{"id":"6552b4b066d14c6a","type":"exec","z":"f63ce2276c48a98d","command":"C:\\Temp\\RunOnnxRuntimeConsole\\RunOnnxRuntimeConsole ","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":330,"y":180,"wires":[["c6547377a5cdd343","b0c7e5f31e7e3abc"],["e828c501bfe7a523"],["b17c5e3594311d21"]]},{"id":"e1b5ac5d29ff8bce","type":"inject","z":"f63ce2276c48a98d","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"C:\\Temp\\RunOnnxRuntimeConsole\\DCMC_UseNN_NNSlack1_Model.onnx 4.41 0.0 0.0318","payloadType":"str","x":130,"y":80,"wires":[["6552b4b066d14c6a","f402bb8d8e4365bc"]]},{"id":"438014e4e30a14a2","type":"http in","z":"f63ce2276c48a98d","name":"RunNN","url":"/RunNN","method":"post","upload":false,"swaggerDoc":"","x":90,"y":320,"wires":[["6552b4b066d14c6a","f402bb8d8e4365bc"]]},{"id":"c6547377a5cdd343","type":"http response","z":"f63ce2276c48a98d","name":"","statusCode":"","headers":{},"x":690,"y":380,"wires":[]},{"id":"b17c5e3594311d21","type":"debug","z":"f63ce2276c48a98d","name":"Return Code","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":280,"wires":[]},{"id":"e828c501bfe7a523","type":"debug","z":"f63ce2276c48a98d","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":200,"wires":[]},{"id":"b0c7e5f31e7e3abc","type":"debug","z":"f63ce2276c48a98d","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":100,"wires":[]},{"id":"f402bb8d8e4365bc","type":"debug","z":"f63ce2276c48a98d","name":"Input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":360,"wires":[]}]